<!DOCTYPE html>
<html>
<body>
	<h1 style=”color:red”>Welcome!</h1>
	<p> All pics </p>
	<h2 style=”background-color:blue”>Pick Your Favorite Comic!</h2>
	{% for image_name in all_comic_pics %}

<!-- 		<p> {{ image_name.strip('.jpg') }} </p> -->

<!-- 		<a href= {{'localhost:8080/nmf/' + image_name.strip('.jpg')}} onclick="window.location='/openfire"> -->
		<a href= {{'localhost:8080/nmf/' + image_name.strip('.jpg')}} >


<!-- 		<a href= {{'localhost:8080/nmf/' + image_name.strip('.jpg')}} target="_blank"> -->
			<img src = {{ url_for('static', filename = image_name) }} width=200 
			height=400>
		</a>


<!-- 	<button type='button' class='btn btn-lg btn-danger' onclick="window.location='/openfire'; return false;">Open Fire!</button> 

 		<img src = {{ url_for('static', filename = image_name ) }} width=200 height=400>
 -->

	{% endfor %}

</body>
</html>
